* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', 'Cairo', Arial, sans-serif;
    

}


html {
    font-size: 16px; 
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    
}

header {
    padding: 0.225em 1.25em; 
    width: 100%; 
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
      border-bottom: 1px solid #f0f2f8;
}
.logo{  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 1.2em;
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo span {
    font-size: 1.5em;
    font-weight: 700;
    color: #506DCA;
    margin-left: 0.3em;}
#nav {
    position: absolute;
    right: 1.75em;
    top: 0;
    height: 3.75em;
    display: flex;
    align-items: center;
   
    margin-left: 2.6em;
    margin-top: 0.5em;
       font-size: 1.2em;
       font-weight: 0;
   
}

#nav .button {
    margin-top: 0;
    padding: 0.375em 1.1875em;
    border-radius: 0.75em;
    background-color: #506DCA;
    color: white;
    
    

}

#nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav li  {
    position: relative;
    margin: 0 1em;
}

#nav li .link{
    height: 3.75em;
    line-height: 3.75em;
 
    color: #506DCA;
    

}

.separator {
    height: 1.625em;
    width: 0.0625em;
    background-color: #ccc;
    margin: 0 0.625em;
}

.primary {
    background: #506DCA;
    color: white;
    box-shadow: none;
}

.small {
    border-radius: 1.25em;
   
    padding: 0.5em 1em;
    height: auto;
    line-height: normal;
}

.button {
    display: inline-block;
    cursor: pointer;

    text-align: center;
    white-space: nowrap;
    border: none;
    text-decoration: none;
}

.link-black {
    color: #506DCA;
}

.link {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    cursor: pointer !important;
    position: relative;
    transition: color 0.1s;
}
.box{
  width:85em;
  height:36em;
  border-radius:4em;
  margin:4em auto;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  overflow:hidden;

}



.pic{
    width: 62em;  
    height: 40em; 
    padding: 1em;
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 14%;  
    left: 50%;  
    transform: translate(-50%, -50%); 
    z-index: 1;

}
.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #506DCA;

    line-height: 1.2;
}

.left {
    font-size: 6.8em;
    font-weight: 700;
}

.right {
    font-size: 6.5em;
    font-weight: 700;
}

.highlight {
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.specialty-section {
    text-align: center;
    margin: 9em;
    margin-top: 20em;
}

.specialty-title {
    font-size: 2.4375em;
    color: #506DCA;
    margin-bottom: 3.3em;
   
}

.specialty-cards {
    display: flex;
    justify-content: center;
    gap: 6.5em;
}

.specialty-card {
    text-align: center;
    background-color: #f7f7f8;
    border-radius: 22px;
    padding: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 299px;
    position: relative;
    
}

.specialty-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 3px solid #f9f9f9;
}

.specialty-name {
    font-size: 1.7em;
    color: #9f9f9f;
    margin-top: 55px;
    margin-bottom: 44px;
    font-weight: normal;
   

}

.us-section {
    width: 100%;
    background-color: #fff;
    padding-top: 6.875em; 
    text-align: center;
    margin-top: 1em;
    margin-bottom: 15em;
    top: 50%;  
    left: 50%;  
   

}

.lineus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25em;

    top: 50%;  
    left: 50%;
}

.us-section h2 {
    font-size: 2.4375em;
    margin-bottom: 0.75em;
    margin-top: 1.25em;
    margin: 0 1.125em;

    color: #506DCA;
}

.line {
    flex-grow: 1;
    height: 0.03125em;
    background-color: #ccc;
}

.us-section p {
    color: #c0c0c0;
    line-height: 1.375em;
 

    padding: 0.625em;
    word-spacing: 0.1em;
}
   .highlight2 {
    color: #506DCA;
   font-weight: bold;}
 
  footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 1em;
  background-color: #dfe7ffd8;
  color: #888;
  margin-top: 18em;


}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 0.2em;
}

  


.logoF {
    height: 12.5em;
    width: auto;
    margin-left: 0.6em;
    margin-top: 1.9em;
    background-color: #DFE7FF; 
    padding: 8px;
    border-radius: 20px; 
}


.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1px;
  margin-bottom: 3.125em;
   width: 4.375em;
  height:4.375em;
  margin-left: 1.6em;
  
}

.social-icons li {
  display: inline;
   display: flex;
  align-items: center;
  color: #666;
  text-decoration: none;
    margin-top:  0.625em;
    margin-left: 0.6em;
  
}

.social-icons li a img {
 width: 1.25em;
  height: 1.25em;
  
  
}

.contact-us ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3.125em;
    margin-top: 0.625em;

    
}

.contact-us li {
  margin-bottom:  0.625em;
  font-size: 0.875em;
  color: #666;
  margin-left: 0.6em;

  
}

.contact-us li a {
  display: flex;
  align-items: center;
  color: #666;
  text-decoration: none;
    margin-left: 1.875em;
    gap: 0.3em;

}

.contact-us li img {
  width:1.25em;
  height: 1.25em;
  margin-left: 0.6em;

}
h3{
      margin-top: 3.125em;
        margin-bottom: 0px;

}
li{
margin-bottom: 1.25em;}

 .bottom-bar{
        background: #dfe7ffd8;
        text-align: center;
        padding: 0px 0;
        margin-top: 0px;
    }
    .bottom-bar p{
        color: #505050;
        margin: 0;
        font-size: 0.625em;
        padding: 0.4375em;}



        .container {
            position: absolute;
            top: 50%;
            left: 25%; 
            transform: translate(-50%, -50%);
            width: 36em; 
            max-width: 100%;
            background-color: #fff;
            border-radius: 1.875em;
            box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.35);
            padding: 1.875em;
            text-align: center;
        }

        h2 {
            color: #506DCA;
            margin-bottom: 0.9375em;
        }

        .role-selection {
            margin: 1.25em 0;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25em;
        }

        .role-selection label {
         
            font-size: 0.9375em;
            color: #333;
            display: flex;
            align-items: center;
            gap: 0.5em;
            cursor: pointer;
            padding: 0.5em 0.75em;
            border-radius: 0.5em;
        }

        .role-selection input {
            transform: scale(1.2);
            cursor: pointer;
        }

        .role-selection label:hover {
            background-color: #f0f0f0;
            transform: scale(1.05);
        }

        input, select {
            width: 100%;
            padding: 0.75em;
            margin: 0.625em 0;
            border-radius: 0.5em;
            border: 0.0625em solid #ccc;
            background-color: #eee;
            font-size: 0.875em;
            outline: none;
        }

        button {
            background-color: #506DCA;
            color: white;
            padding: 0.75em;
            border: none;
            border-radius: 0.5em;
           
            letter-spacing: 0.0313em;
            text-transform: uppercase;
            cursor: pointer;
            width: 100%;
            margin-top: 0.9375em;
        }

        button:hover {
            background-color: #506DCA;
        }

        .form-container {
            display: none;
        }
        .toggle-container {
    position: fixed; 
    top: 50%;
    right: 0; 
    transform: translateY(-50%); 
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 190px 0 0 190px;
    z-index: 1;
}

.toggle {
    background-color: #506DCA;
    height: 100%;
    color: #fff;
    position: absolute;
    right: -100%; 
    width: 200%;
    height: 100%;
}

.toggle-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    top: 0;

}

.center-text {
    position: absolute; 
    top: 46%; 
    left: 75%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    z-index: 2;
}

.center-text h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #eee;
}

p {
    font-size: 1.3em;
    color: #eee;
    white-space: nowrap;
}
.offer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16em;
    margin-bottom: 5em;
    width: 100%;
    position: relative;
    
}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    position: relative;
    margin-bottom: 50px;
    
    
}

.offer-image {
    width: 66%;
    height: auto;
    border-radius: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 66%;
    box-shadow: 0 0.3125em 0.9375em rgba(69, 69, 69, 0.35);
}

.offer-container.top-left .offer-image {
    left: -15%;
    top: 50%;
}

.offer-container.bottom-right .offer-image {
    right: -28%;
    top: 73%;
}

.offer-text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-title {
    font-size: 1.65rem;

    text-align: center;
    color: #506DCA;
 
}

.offer-description {
    font-size: 1.2em;
    color: #c8c5c5;
    line-height: 1.9;

    text-align: center;
    width: 100%;
}

.offer-container.top-left .offer-text {
    margin-right: -8%;
    text-align: center;
}

.offer-container.bottom-right .offer-text {
    text-align: center;
    margin-left: 5%;
    margin-top: 13em;
}

button,
.button,
.signup-btn,
.signin-btn {
    transition: all 0.25s ease;
    border: none;
    outline: none;
}


button:hover,
.button:hover,
.signup-btn:hover,
.signin-btn:hover {
    transform: translateY(-2px);

    border: none;
    outline: none;
}




    .footer-medical {
      width: 100%;
      margin-top: auto;
      padding: 25px 0;
      border-top: 1px solid #e6ebff;
      background: #f9faff;
    }

    .fm-wrapper {
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
      text-align: center;
    }

    .fm-logo {
      width: 42px;
      height: 42px;
      object-fit: contain;
    }

    .fm-copy {
      color: #64748b;
      font-size: 13px;
      margin-left: 8px;
    }

    .fm-title {
      font-size: 13px;
      color: #475569;
      font-weight: 600;
      display: block;
      margin-bottom: 6px;
    }

    .fm-icons img {
      width: 22px;
      height: 22px;
      object-fit: contain;
      margin-right: 8px;
    }

    .fm-contact {
      margin: 0;
      color: #64748b;
      font-size: 13px;
} 
  .fm-wrapper div{
    allign-items: center !important;
  }




@media (max-width: 992px) {
  body p {
    white-space: normal;
  }

  header {
    padding: 0.75em 1em;
  }

  #nav {
    position: static;
    right: auto;
    top: auto;
    height: auto;
    margin: 0;
  }

  #nav ul {
    gap: 0.75em;
  }

  .box {
    width: 100%;
    max-width: 70rem;
    height: 26rem;
    border-radius: 2.5rem;
    margin: 2.5rem auto 1.5rem;
    padding: 0 1.5rem;
    background-size: contain;
    background-position: center;
  }

  .slogan {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .left {
    font-size: 3.6em;
  }

  .right {
    font-size: 3.3em;
  }

  .specialty-section {
    margin: 5em 3em 6em;
    margin-top: 6em;
  }

  .specialty-cards {
    gap: 3em;
    flex-wrap: wrap;
  }
  

 
  .fm-wrapper {
    flex-direction: row !important;
    text-align: center !important;
    gap: 1px !important;
    flex-wrap: nowrap;
  }

}


@media (max-width: 768px) {
  header {
    padding: 0.6em 0.9em;
    border-bottom: 1px solid #f0f2f8;
  }

  .logo {
    padding: 6px 0;
    gap: 8px;
  }

  .logo img {
    width: 48px;
    height: 48px;
  }

  .logo span {
    font-size: 1.2em;
  }

  #nav {
    position: static;
    margin: 0;
     font-size: 1em;
  }

  #nav ul {
    display: flex;
    align-items: center;
    gap: 0.5em;
    

  }

  #nav li {
    margin: 0;
    
  }

  .separator {
    display: none;
  }

  .box {
    width: calc(100% - 1.5rem);
    height: 18rem;
    border-radius: 1.5rem;
    margin: 1.5rem auto 1.25rem;
    background-size: cover;
    background-position: center;
    padding: 0 ;
  }

  .slogan {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.1;
    padding: 0 0.5rem;
    width: 90%;
  
  }

  .left,
  .right {
    display: block;
    font-size: 3em;
  }

  .specialty-section {
    margin: 3.5em 1.5em 4.5em;
    margin-top: 4.5em;
    
  }

  .specialty-title {
    font-size: 1.8em;
    margin-bottom: 4.2em;
    
  }

  .specialty-cards {
    flex-direction: column;
    align-items: center;
    gap: 7em;
    width: 100%;
    margin: 0 auto;
  
    
  }
  .specialty-name
    {
        font-size: 1.3em;
font-weight:normal;
        
    }

  .specialty-card {
    width: 80%;
    padding: 1em 1em 1em;
    
  }

  .us-section {
    width: 90%;
    margin: 3em auto 5em;
  
    padding-top: 0.4em;
  }

  .lineus {
    margin-bottom: 1em;
    font-size: 0.8em;
  }

  .us-section p {
    padding: 0 1em 1.5em;
    font-size: 1.2em;
  }


  .offer-section {
    margin-top: 6em;
    margin-bottom: 4em;
  }

  .offer-container {
    flex-direction: column;
   
    right: 0%;
    left: 
    0%;
    gap: 1.5rem;
    width: 100%;
  }

  .offer-image {
    position: static;
    width: 100%;
   

    opacity: 0.9;
    transform: none;
    margin-bottom: 0.75rem;
    box-shadow: 0 0.25em 0.75em rgba(69, 69, 69, 0.25);
  }

  .offer-container.top-left .offer-image {
    left: auto;
       
    right: auto;
           border-top-left-radius: 0;
    border-bottom-left-radius: 0;
      
    top: auto;
  }
  .offer-container.bottom-right .offer-image {
    left: auto;

           border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: auto;
    top: auto;
  }

  .offer-text {
    width: 100%;
    margin: 0;
  }

  .offer-container.top-left .offer-text,
  .offer-container.bottom-right .offer-text {
    margin: 0;
  }

  .offer-title {
    font-size: 1.4rem;
  }

  .offer-description {
    font-size: 0.98em;
    padding: 0 0.5rem;
  }

 
  .fm-wrapper {
    flex-direction:row !important;
  
    text-align: center !important;
    gap: 10px !important;
  }
  .fm-wrapper div{
    allign-items: center !important;
  }


  .toggle-container {
    display: none;
  }
}
